body{
    background-color: #FFDAB9;
}

.grass{
    background-color: #32CD32;
    color: #F5FFFA;
}

.fire{
    background-color: #FF4500;
    color: #F5FFFA;
}

.water{
    background-color: #1E90FF;
    color: #F5FFFA;
}

.bug{
    background-color: #6B8C23;
    color: #F5FFFA;
}

.normal{
    background-color: #aaaa99;
    color: #F5FFFA;
}

.poison{
    background-color: #aa5599;
    color: #F5FFFA;
}

.electric{
    background-color: #ffcc33;
    color: #F5FFFA;
}

.ground{
    background-color: #ddbb55;
    color: #F5FFFA;
}

.fighting{
    background-color: #bb5544;
    color: #F5FFFA;
}

.rock{
    background-color: #bbaa66;
    color: #F5FFFA;
}

.psychic{
    background-color: #ff5599;
    color: #F5FFFA;
}

.ghost{
    background-color: #aa5599;
    color: #F5FFFA;
}

.dragon{
    background-color: #7766ee;
    color: #F5FFFA;
}

.ice{
    background-color: #66ccff;
    color: #F5FFFA;
}


body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}
            
/* The confirmation screen when you choose a Pokemon */
.form-popup {
    display: none;
    position:absolute;
    top:35%;
    left:50%;
    width:400px;  
    height:400px;   
    margin-left:-200px;   
    margin-top:-200px;
}
            
/* Add styles to the form container */
.confirm-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}
            
/* Style of selection button */
.confirm-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}
            
/* Add a red background color to the cancel button */
.confirm-container .cancel {
    background-color: red;
}
            
/* Add some hover effects to buttons */
.confirm-container .btn:hover, .open-button:hover {
    opacity: 1;
}
            
#ivysaurStats {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15pt;
    font-weight: bold;
}