.body{
    background: #FFDAB9;
}

.grass{
    background-color: #32CD32;
    color: #F5FFFA;
}

.fire{
    background-color: #FF4500;
    color: #F5FFFA;
}

.water{
    background-color: #1E90FF;
    color: #F5FFFA;
}

.bug{
    background-color: #6B8C23;
    color: #F5FFFA;
}